.profile__edit-button {
  background-image: url(../../../images/editButton.svg);
  grid-area: edit-button;
  border: 1px solid #ffffff;
  cursor: pointer;
  min-width: 24px;
  min-height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 7px;
  align-self: center;
  margin-left: auto;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity ease-in 0.1s;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    min-height: 18px;
    min-width: 18px;
  }
}
