.profile__edit-button {
  grid-area: edit-button;
  max-width: 24px;
  border: 1px solid #ffffff;
  box-sizing: content-box;
  background: none;
  padding: 0;
  margin-left: 18px;
  max-height: 24px;
  align-self: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity ease-in 0.1s;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    margin-left: 10px;
    max-height: 18px;
  }
}
