.profile__add-button {
  max-width: 150px;
  border: 2px solid #ffffff;
  background: none;
  border-radius: 2px;
  align-self: center;
  margin-left: auto;
  box-sizing: content-box;
  padding: 0;
  max-height: 50px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity ease-in 0.1s;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    max-width: 282px;
    align-self: stretch;
    margin: 0;
  }
}
