.profile__add-button {
  border: 2px solid #ffffff;
  background: none;
  border-radius: 2px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/addButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  min-width: 150px;
  min-height: 50px;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity ease-in 0.1s;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    max-width: 282px;
    align-self: stretch;
    margin: 0;
  }
}
