.popup__pic-subtitle {
  font-size: 12px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0em;
  color: #FFFFFF;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
}
