.profile__name {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  margin: 0;
  grid-area: name;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 200px;
    margin-left: 25px;
  }
}
