.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  cursor: pointer;
  border: none;
  background-image: url(../../../images/closeIcon.svg);
  min-width: 32px;
  min-height: 32px;
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity ease-in-out 0.1s;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    right: 0px;
    min-width: 20px;
    min-height: 20px;
    background-position: center;
    background-size: contain;
    padding: 0;
    top: -35px;
  }
}
