.profile__info {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "name edit-button"
  "subtitle subtitle";
  padding: 22px 0 25px 30px;
  column-gap: 18px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    padding: 26px 0px 36px 0;
    column-gap: 10px;
  }
}
