.profile__info {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "name edit-button"
  "subtitle subtitle";
  padding: 22px 0 25px 30px;
}
