.popup__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  width: 358px;
  text-align: left;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 50px;
}
